* {
	margin: 0;
	padding: 0;
}

# main {
	width: 1190 px;
	height: 1000 px;
	margin: 0 auto;
	margin - top: 50 px;
}

# imgzhanshi {
	height: 470 px;
	width: 470 px;
	border: 1 px solid# eeeeee;
	float: left;
	margin - top: 43 px;
}

# detail {
	float: left;
	margin - top: 43 px;
	margin - left: 80 px;
	color: #585858;
}

# detail# l_detail {
	margin - left: 0 px;
}

#detail th {
	font - size: 33 px;
}

#detail.tr1 {
	height: 100 px;
}

.tdjiage {
	font - size: 28 px;
	color: #ff6637;
}

.tdshic {
	font - size: 12 px;
	color: #888888;
	text-decoration: line-through;
}

input[type="text"] {
	height: 40 px;
	width: 100 px;
}

input[type="button"] {
	height: 15 px;
	width: 15 px;
	border: none;
}

#detail a {
	display: inline - block;
	height: 40 px;
	width: 158 px;
	border: 1 px solid# ff6637;
	border - radius: 5 px;
	text - align: center;
	text - decoration: none;
	line - height: 40 px;
}

#next {
	clear: left;
	width: 470 px;
	height: 70 px;
}

#next a {
	display: inline - block;
	height: 28 px;
	width: 80 px;
	border: 1 px solid# e9e9e9;
	border - radius: 20 px;
	text - align: center;
	text - decoration: none;
	line - height: 28 px;
	margin - top: 35 px;
}

#chanpin {
	height: 55 px;
	border: 1 px solid# eaeaea;
	width: 1190 px;
	clear: left;
	background: #f8f8f8;
	margin - top: 30 px;
}

#chanpin span {
	display: inline - block;
	height: 55 px;
	width: 160 px;
	text - align: center;
	line - height: 55 px;
	color: #666666;
}

# chanpin span: hover {
	border - top: 5 px solid# ff6537;
	color: #ff6537;
	height: 50 px;
	line - height: 50 px;
}

#pinglun {
	width: 100 %;
	background: #f8f8f8;
	height: 589 px;
	margin - top: 30 px;
}

#pinglun table {
	height: 589 px;
	margin - left: 0 px;
}

#pinglun table.td1 {
	text - align: right;
	width: 113 px;
}

#ul1 {
	padding: 0;
	margin: 0;
	list - style: none;
	width: 160 px;
	height: 28 px;
	float: left;
}

#ul1 li {
	float: left;
	background: url(img / star.gif) no - repeat 0 0;
	width: 27 px;
	height: 28 px;
}

#div {
	float: left;
	color: orange;
	width: 100 px;
	margin - left: 0;
}

textarea {
	line - height: 26 px;
	height: 127 px;
	width: 914 px;
}

#yanzhengma {
	border: 1 px solid #24323f;
	display: inline-block;
	height: 42px;
	vertical-align: middle;
	line-height: 42px;
	width: 50px;
	text-align: center;
	background: cyan;
}

.td1 a {
	display: block;
	height: 42px;
	width: 158px;
	color: white;
	background: # ff6637;
	border - radius: 5 px;
	line - height: 42 px;
	text - decoration: none;
	font - size: 18 px;
	margin: 0 auto
}